h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 4em;
	text-align: center;
}
.btn {
	margin: 20px auto;
	display: block;
	font-family: 'Luckiest Guy', cursive;
}

.thumbnail {
	text-align: center;
	font-size: 80px;
	height: 180px;
	width: 33%;
	margin: 0;
}

.left {
	border-right: 5px solid black;
}

.right {
	border-left: 5px solid black;
}

.top {
	border-bottom: 5px solid black;
}

.bottom {
	border-top: 5px solid black;
}